/**************/
/* HEADER CSS */
/**************/
.header {
  min-height: 20vh;
}

.logo-container {
  display: inline-block;
  vertical-align: center;
  margin: auto;
}

/********************/
/* MAIN CONTENT CSS */
/********************/
main.main-content {
  min-height: 60vh;
}


/**************/
/* FOOTER CSS */
/**************/
footer .footer {
  min-height: 20vh;
  background: #f3f3f3;
}

